$color-blue: #2264D1;

:root {
    --item-width-1492px: 23.9%;
    --item-width-column: 100%;
    --item-width: var(--item-width-1492px);
    --item-border-none: none;
    --item-border-set: 1px solid #ccc;
    --item-border: var(--item-border-none);
    --button-width: 50%;
    --button-transform: 100%;
    --button-style-transform: 0px;
    --button-show-style-transform: 0;
    --button-style-width: 50%;
    --button-show-style-width: 33.3%;
}