@import 'variables.scss';
@import 'section/section.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1492px;
    display: block;
    margin: 0 auto;
    position: relative;
}